@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Northwind -sovellus</h1>
        <p class="lead">Powered by SQL Azure</p>
    </section>


</main>